*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(/image/pexels-camy-aquino-5933199.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero{
    padding: 10% 0;
    text-align: center;
}

.musicTiles{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-align: center;
    padding: 0 15%;
    gap: 10px; 
}

.keyButton{
    height: 80px;
    width: 80px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.07s;
}

.playing{
    transition:scale(2);
    border-color: hotpink;
    box-shadow: 0 0 10px hotpink;
}

/* media queries */
@media (max-width: 768px) {

    .musicTiles{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow-x: hidden; 
        margin: auto;
        gap: 10px;   
    }

    .keyButton{
        border: none;
        height: 5rem;
        width: 5rem;
    }

}
